# Passos de implementar o KNN

Primeiro passo: cuidar dos dados;

Segundo passo: calcular a distância euclidiana;

Terceiro passo: Achar os K vizinhos;

Quarto passo: predição dos dados;

Quinto passo: checar a acurácia

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics

from sklearn.model_selection import train_test_split

In [ ]:
df_total = pd.read_csv("glass.csv")

df_total.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [ ]:
def MinMaxScaler(x, min, max):
  return (x - min) / (max - min)

In [ ]:
mins = df_total.min()
maxs = df_total.max()

columns = df_total.columns.to_list()
columns.remove("Type")
df_total[columns].head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [ ]:
for column in columns:
 df_total[column] = MinMaxScaler(df_total[column], mins[column], maxs[column])

df_total.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,0.432836,0.437594,1.000000,0.252336,0.351786,0.009662,0.308550,0.0,0.0,1
1,0.283582,0.475188,0.801782,0.333333,0.521429,0.077295,0.223048,0.0,0.0,1
2,0.220808,0.421053,0.790646,0.389408,0.567857,0.062802,0.218401,0.0,0.0,1
3,0.285777,0.372932,0.821826,0.311526,0.500000,0.091787,0.259294,0.0,0.0,1
4,0.275241,0.381955,0.806236,0.295950,0.583929,0.088567,0.245353,0.0,0.0,1

In [ ]:
target = "Type"
x_train, x_val, y_train, y_val  = train_test_split(df_total[columns], df_total[target], test_size = 0.2)

In [ ]:
# sqrt( exp2(X2- X1) + exp2(Y2 - Y1) ) ==> Euclidean Distance 
def EuclideanDistance(x, y):
  return np.sqrt( sum( (x - y) ** 2 ) )

In [ ]:
class KNeighborsClassifier:
  def __init__(self, n_neighbors):
    self.n_neighbors = n_neighbors

  def fit(self, x_train, y_train):
    self.x_train = x_train.to_numpy()
    self.y_train = y_train.to_numpy()

  def predict(self, x_val): 
    self.x_val = x_val.to_numpy()

    self.y_pred = []

    for val_line in self.x_val:
      distances = [(i, EuclideanDistance(val_line, test_line)) for i, test_line  in enumerate(self.x_train)]
      distances.sort(key= lambda x: x[1])

      indexesList = [x[0] for x in distances[0:self.n_neighbors]]
      typesList = [self.y_train[index] for index in indexesList]
      self.y_pred.append(statistics.mode(typesList))

  def accuracy_score(self, y_val):
    self.y_val = y_val.to_numpy()
    accuracy = 0
    for index in range(len(self.y_val)):
      if self.y_val[index] == self.y_pred[index]:
        accuracy +=1
    accuracy = (accuracy/len(self.y_val)) * 100
    print(f"A acurácia é de {accuracy:.2f}%")

In [ ]:
clf = KNeighborsClassifier(n_neighbors= 15)
clf.fit(x_train, y_train)

In [ ]:
clf.predict(x_val)

In [ ]:
clf.accuracy_score(y_val)

A acurácia é de 62.79%